@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dancing Script", cursive;
    background-color: pink;
}

.fundo {
    background: linear-gradient(rgba(224, 145, 158, 0.5), rgba(206, 98, 143, 0.5));
    height: 100vh;
    width: 100%;
}

section {
    width: 100%;
    height: 100vh;
}

.video_fundo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    width: 80px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 2%;
    background: rgba(187, 78, 133, 0.541);
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header nav ul li {
    color: #fff;
    text-decoration: none;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 10px 50px;
    height: 300px;
    font-size: 30px;

}

header nav ul li a:hover {
    color: rgb(135, 26, 88);
}

input {
    border: solid 2px rgb(179, 101, 114);
    border-radius: 5px;
    width: 100%;
    background: white;

}

label {
    display: block;
    color: rgb(58, 4, 13);
    font-size: 20px;


}

form {
    background: #fff;
    border: 2px solid rgb(168, 56, 74);
    padding: 30px;
    border-radius: 20px;
    max-width: 450px;
    margin: auto;
    text-align: left;
}

form button {
    background: pink;
    color: #4b0d2a;
    cursor: pointer;
    width: 70px;
    border-radius: 10%;
}

.pedido {
    padding: 5rem;
}

.menu-toggle {
    display: none;
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 28px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: rgb(236, 155, 175);
    border-radius: 4px;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav ul.menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background: pink;
        padding: 10px 0;
    }

    nav ul.menu.show {
        display: flex;
    }
}

.bolos {
    display: flex;
    gap: 15px;
    /* espaço entre as imagens */
    justify-content: center;
}

.bolos img {
    width: 270px;
    height: 200px;
    margin-top: 100px;
    border-radius: 5px;

}

.historia {
    margin: 30px;
    font-size: 25px;
    text-align: center;
}

.nos {
    text-align: center;
}

.bebidas {
    display: flex;
    gap: 15px;
    /* espaço entre as imagens */
    justify-content: center;
    border-radius: 10px;

}

.bebidas img {
    height: 250px;
    width: 240px;
    margin-top: 100px;

}

.bolos abbr img:hover {
    transform: scale(1.1);
    /* aumenta */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    /* sombra bonita */

}

.bebidas abbr img:hover {
    transform: scale(1.1);
    /* aumenta */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    /* sombra bonita */

}

.local img {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 400px;
    border-radius: 20px;
    margin-top: 50px;
}
.colab{
     display: flex;
    gap: 20px;
    /* espaço entre as imagens */
    justify-content: center;
    border-radius: 10px;
}
.colab img{
    height: 310px;
    width: 250px;
    margin-top: 100px;
}
.colab abbr img:hover {
    transform: scale(1.1);
    /* aumenta */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    /* sombra bonita */

}
